<!doctype html>
<html lang="en" ng-app="myApp"p>
<head>
    <meta charset="utf-8">
    <script src="../../bower_components/angular/angular.js"></script>
    <script>
        angular
                .module('myApp', [])
                .controller('MyCtrl', function MyCtrl() {
                    this.height = 185
                })
                .filter('cmToFoot', cmToFoot)
                .filter('containsOr', containsOr);

        function cmToFoot() {
            return function(height) {
                if (height) {
                    return height * 0.0328084;
                }
            }
        }

        function containsOr()
        {
            return function(arr)
            {
                if(arr && arr.length > 0)
                {
                    return arr.filter(function(elem) {
                        return elem.indexOf("or") > -1;
                    });
                }
            }
        }
    </script>
</head>
<body ng-controller="MyCtrl as myCtrl">
Height <b>{{ myCtrl.height}}</b> cm is aprox. <b> {{ myCtrl.height | cmToFoot | number:2}} </b> ft.

<br>
<div ng-init="arr = ['Ford', 'Sheen']"/>
ContainsOr filter of {{arr}} is {{arr | containsOr}} <br>
</body>
</html>

<!--Lab
1. Create a custom filter that takes the height of an actor
(for example: http://swapi-tpiros.rhcloud.com/actors/a) and returns the height in foot. (1cm = 0.0328084 foot)
2. Create another filter that applies to repeaters. Return a list of actors from the 4th Star Wars film where the name
contains the term 'or' (This should at least return Harrison Ford)
3. If there's sufficient time try to adjust your first filter so that
it accepts a paramter of 'foot' or 'inch' - so {{ expression | height:foot }}. Foot should return the height in feet,
inch should return the height in inches. If no arguments are passed in, return the original value -->