<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Angular bootstrap</title>
	<!-- uncomment or delete -->
	<!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
	<!-- <link rel="stylesheet" href="css/app.css"> -->
</head>
<body>

<!-- simple model and two-way data binding demo -->
<p>Hello, {{ user }}!</p>
<input type="text" ng-model="user">

<script src="bower_components/angular/angular.js"></script>
</body>
</html>