<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <script src="../../bower_components/angular/angular.js"></script>
    <script>
        angular.module("myApp", [])
                .controller('HarrisonController', HarrisonController)
                .controller('FilmController', FilmController)
                .factory('harrisonFactory', harrisonFactory)
                .factory('filmFactory', filmFactory);

        function harrisonFactory($http)
        {
            this.$inject = ['$http']

            return
            {
                aboutHarrison: aboutHarrison
            }

            function aboutHarrison()
            {
                return $http({method: 'GET', url: './api/actors-harrison.json'})
                        .then(function(response) {
                            return response.data;
                        });
            }
        }

        function filmFactory($http)
        {
            this.$inject = ['$http'];

            function getFilms()
            {
                return $http({method: 'GET', url: './api/films.json'})
                        .then(function(response)
                        {
                            return response.data;
                        });
            }

            return {
                getMovieTitles: getMovieTitles,
                getMovieInfos: getMoviesInfos,
                getMovieInfos2: getMoviesInfos2,
                getFilms: getFilms
            };

            function getMovieTitles()
            {
                var titles = [];
                getFilms().then(function(response)
                {
                    response.forEach(function(element) {
                        titles.push(element.title);
                    });
                });
                return titles;
            }

            function getMoviesInfos()
            {
                var titles = [];
                getFilms().then(function(response)
                {
                    response.forEach(function(element) {
                        titles.push(element.plot);
                    });
                });
                return titles;
            }

            function getMoviesInfos2()
            {
//                var titles = [];
//                getFilms().then(function(response)
//                {
//                    response.forEach(function(element) {
//                        titles.push(element.plot);
//                    });
//                });
//                return titles[0];
                return getMoviesInfos()[0];
            }
        }

        function HarrisonController(harrisonFactory)
        {
            this.$inject = ['$scope','harrisonFactory']
            // debugger
            var self = this;
            harrisonFactory.aboutHarrison().then(function(data) {
                self.data = data;
            });

            //this.data = {
            //        "name": "Harrison Ford",
            //        "bio": "Harrison Ford was born on July 13, 1942 in Chicago, Illinois, to Dorothy (Nidelman), a radio actress, and Christopher Ford (born John William Ford), an actor turned advertising executive. His father had Irish and German ancestry, and his maternal grandparents were Jewish immigrants from the Russian Empire.",
            //        "dob": "1942-07-13",
            //        "pob": "Chicago, Illinois, USA",
            //        "height": 1.85
            //    };
        }

        function FilmController(filmFactory)
        {
            this.$inject = ['filmFactory'];
            var self = this;
            filmFactory.getFilms().then(function(data)
            {
                self.films = data;
            });


            self.filmTitles = filmFactory.getMovieTitles();

            self.filmInfos = filmFactory.getMovieInfos();
            self.filmInfos2 = filmFactory.getMovieInfos2();
        }
    </script>
</head>
<body>
<!--
1. Put together an application that uses a Factory. The application should go out to the
following REST API endpoint http://swapi-tpiros.rhcloud.com/actors/harrisonand print
information about Harrison Ford onto the screen. Please also make sure that his
lastname is returned in all capitals and his DOB is showing the UK format of dd / mm /
yyyy where the month is the string representation of the month. (that is, 12 would be
December) (note that you will have to alter this date programatically before feeding in to
the appropriate filter)
2. Create a Factory that has two methods:
- one that displays all the titles of the Star Wars films
- one that displays information about a single Star Wars film
3. Write a controller using the 'controllerAs' syntax and display an unordered list of all films

-->
<div ng-controller="HarrisonController as harrCtrl">
    <strong>About Harrison Ford</strong><br>
    Name: {{harrCtrl.data.name}} <br>
    Date of Birth: {{harrCtrl.data.dob | date: 'dd/MMMM/yyyy'}}
</div>
<br>
Star Wars Movies: <br>
<div ng-controller="FilmController as filmCtrl">
    {{filmCtrl.filmTitles}} <br>
    {{filmCtrl.filmInfos}} <br><br>
    Info: {{filmCtrl.filmInfos2}} <br>

</div>
</body>
</html>